<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ketchup" type="Ketchup.Config.KetchupConfigSection, Ketchup"/>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
	</configSections>

	<ketchup>
		<nodes>
			<node host="172.25.6.201"/>
			<node host="172.25.6.202"/>
		</nodes>
		<buckets>
			<bucket name="default" port="11211"/>
		</buckets>
	</ketchup>

	<enyim.com>
		<memcached>
			<servers>
				<add address="172.17.6.201" port="11240"/>
			</servers>
		</memcached>
	</enyim.com>

	<!-- 
		ketchup config example - standard membase config
		nodes:		each memcached server is on a different ip/port, one ip and 3 ports per os instance
		buckets:	each bucket is assigned to the same port on different ips	
		settings:	all settings are specified
		prefix:		the key names are prefixed with the bucket name (this is the default so it could have been ommitted)
	
	<ketchup>
		<nodes>
			<node host="127.0.0.1" />
			<node host="127.0.0.2" />
			<node host="127.0.0.3" />
		</nodes>
		<buckets>
			<bucket	name="CMS" port="11211" />
			<bucket name="Forums" port="11212" />
			<bucket name="Comments" port="11213" />
		</buckets>
		<settings>
			<setting name="compression" value="false" />
			<setting name="failover" value="false" />
			<setting name="connectionRetryDelay" value="100" />
			<setting name="connectionRetryCount" value="2" />
			<setting name="connectionTimeout" value="500" />
			<setting name="deadNodeRetryDelay" value="1000" />
		</settings>
	</ketchup>
	-->
	<!-- 
		ketchup config example 2 - single bucket, multiple ips
		nodes:		two memcached servers
		buckets:	no port is specified so it uses all nodes
		settings:	settings use the default values
		prefix:		the key names are not prefixed with the bucket name, since there's only 1 bucket, no prefix
	
	<ketchup>
		<nodes>
			<node host="127.0.0.1:11211" />
			<node host="127.0.0.2:11211" />
		</nodes>
		<buckets>
			<bucket name="default" prefix="false" />
		</buckets>
	</ketchup>
	-->
	<!-- 
		ketchup config example 3 - a big mess (you're doing it wrong)
		nodes:		top-level nodes are not read in this configuration, node values are read out of the bucket sub-collection
		buckets:	node ips and ports are specified explicitly
		settings:	settings use the default values
		prefix:		the key names are prefixed with the bucket name, since prefix isn't specified, it is added by default
	
	<ketchup>
		<buckets>
			<bucket name="CMS">
				<nodes>
					<node host="127.0.0.1:11213" />
					<node host="127.0.0.3:11251" />
				</nodes>
			</bucket>
			<bucket name="Forums">
				<nodes>
					<node host="127.0.0.2:11218" />
					<node host="127.0.0.3:11250" />
				</nodes>
			</bucket>
			<bucket name="Comment">
				<nodes>
					<node host="127.0.0.1:11213" />
					<node host="127.0.0.3:11251" />
				</nodes>
			</bucket>
		</buckets>
		<settings>

		</settings>
	</ketchup>
	-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
